#templatemo_footer_wrapper #templatemo_footer .cleaner div {
	height: 400px;
	width: 400px;
}
#templatemo_top_row_wrapper .top_row_box {
	right: 110px;
	bottom: 110px;
}
#templatemo_top_row_wrapper .top_row_box {
	top: auto;
	right: 100cm;
	bottom: 100cm;
}
