body{
}

.container{
	width: 90%;
	height: 100%;
	margin:80px auto 0px;
	position:absolute;
}
.topbanner{
	
	
	background:url('img/topheader.png');
	width:100%;
	height: 80px;
	position: absolute;
	
}
.banner
{
	color:#eee;
	position: absolute;
	
	background-image: url('img/header.jpg');
	width:90%;
	border-radius:10px;
	height: 100%;
	margin:0 5%;
	z-index: 3;
}

.box{
	background-color:#cccccc;
	border: 1px ridge black;
	border-radius: 5px;
	padding:5px;
}

#loginbox
{
	position:relative;
	float:right;
	max-width:160px;
	max-height: 100px;
	min-width:160px;
	min-height: 100px;
	top:25px;
	right:-60px;
	z-index:4;
	display:none;
	
}
#btlogin{
	clear:both;
	float:right;
	max-width:60px;
	max-height:20px;
	max-width:60px;
	max-height:20px;
	position: relative;
	z-index:4;
	cursor: pointer
}
#btsubmit{
	float:right;
	
}
.log{
	color: #000055;
	
	float:right;
	right:25px;
	font-size:12px;
	font-family:Courier, monospace;
	font-weight:bold;
	z-index: 4;
}
.submit{
	color: #000055;
	
	float:right;
	right:25px;
	font-size:12px;
	font-family:Courier, monospace;
	font-weight:bold;
	z-index: 4;
	cursor: pointer
}



